<% unless cart.discount_check.empty? %>
  <div>
    <h2>Discounts</h2>
    <% cart.discount_check.each do |item, discount| %>
      <h4><%= link_to "#{item.merchant.name}", "/merchants/#{item.merchant.id}/items" %></h4>
      <h2><%= link_to item.name, item_path(item) %> - <%= discount.name %> - <%= discount.percent %>%</h2>
    <% end %>
  </div>
<% end %>